*.log
*.rar
*.zip
*.tar.gz
*.class
.mtj.tmp/
.settings
.classpath
.project
build
bin
hs_err_pid*
log
.svn
WebContent/flex
WebContent/WEB-INF/lib
.metadata/*
.DS_Store
target
*.swp
*.iml
.git
.idea
idea

